<h1>Mis Proyectos</h1>
<h2>Un poco de lo que he ido aprendiendo en el Bootcamp</h2>
<br>
<br>
<div class="card" style="width: 18rem;">
    <%= image_tag 'MP.jpg' %>
    <div class="card-body">
        <h5 class="card-title">Mapa Conceptual de la Industria</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
        <a href="#" class="btn miboton-btn">Ver Más</a>
    </div>
</div>
<br>
<div class="card" style="width: 18rem;">
    <%= image_tag 'Igua.png' %>
    <div class="card-body">
        <h5 class="card-title">Iguana_Page</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
        <a href="#" class="btn miboton-btn">Ver Más</a>
    </div>
</div>
<br>
<div class="card" style="width: 18rem;">
    <%= image_tag 'Meet.png' %>
    <div class="card-body">
        <h5 class="card-title">Meet & Coffe</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
        <a href="#" class="btn miboton-btn">Ver Más</a>
    </div>
</div>